<h1> All Soccer Pitches </h1>

<button id="button">Where is the closest soccer pitch?</button>

<%= form_tag "/pitches/coordinate_conversion", method: :post do %>
  <br>
  <%= text_field_tag "address", nil, placeholder:"Address" %>
  <br>
  <%= text_field_tag "city", nil, placeholder:"City" %>
  <br>
  <%= text_field_tag "state", nil, placeholder:"State" %>
  <br>
  <%= text_field_tag "zip", nil, placeholder:"Zip Code" %>
  <br>
  <%= submit_tag "Find pitch" %>
<% end %>

<p id="location"></p>
