<ul>
  <li><%= @user_location.lat %></li>
  <li><%= @user_location.lng %></li>
  <li><%= @pitch.pitch_name %></li>
  <li><%= @pitch.neighborhood %></li>
  <li><%= @pitch.address %></li>
  <li><%= @pitch.pitch_type %></li>
  <li><%= @pitch.latitude %></li>
  <li><%= @pitch.longitude %></li>
</ul>